$ cat /.gitignore
*.pyc
SURbin/*
Runs_linear/*
runs_SURbin/*
__pycache__/*
data/*
*.nbc
*.nbi
.DS_Store
*/DS_Store
/SUR_alpha_impact
__init__.py
ASG_SA_frag.py
conjugate_GN.py
cred_zone_linear.py
errors_fig_linear.py
est_frag_ASG.py
estimations.py
ex_frag_surAlph.py
examples_frag_linsur.py
examples_frag_linsur_PSA.py
exemple_calcul_jeffreys.py
extract_rans.py
extract_rans_linear.py
figures_paper.py
final_true_data.py
*.ipynb
*.png
fragility_curves_examples.py
gather_plot_err_linear.py
gather_plot_err_linear_PSA.py
gather_plot_err_linear_ROTLIN.py
leg_list.py
linear_multplie_script.py
main_curve_Jeffreys_compare.py
plot_seismic signal.py
SUR_bin_multiple.py
testimportations&all.py
Test_imports.py
